<nav class="navbar navbar-default">
<!--header start-->
<header class="header black-bg">
        <div class="sidebar-toggle-box">
            
        </div>
      <!--logo start-->
      <div class="top-menu">
        <ul class="pull-right">
              <li><a href="../home/index" class="logo" data-placement="left"><b>کوییزآپ</b></a></li>
        </ul>
        <ul class="pull-right">
          <li>
            <form class="navbar-form navbar-left flip" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="...">
            </div>
            <!-- <button type="button" class="btn btn-primary">Primary</button> -->
            <button type="submit" class="btn mybtn-primary">جستجو</button>
            </form>
          </li>
        </ul>
        <ul class="nav pull-left top-menu">
              <li><a class="logout" href="../users/sign_in">ورود</a></li>
        </ul>
        <ul class="nav pull-left top-menu">
              <li><a class="logout" href="../users/sign_up">ثبت نام</a></li>
        </ul>
      </div>
  </header>
<!--header end-->

      
</nav>
