<nav class="navbar navbar-default">
<!--header start-->
<header class="header black-bg">
        <div class="sidebar-toggle-box">
            
        </div>
      <!--logo start-->
      <div class="top-menu">
        <ul class="pull-right">
              <li><a href="../home/index" class="logo" data-placement="left"><b>کوییزآپ</b></a></li>
        </ul>
        <ul class="pull-right">
          <li>
            <form class="navbar-form navbar-left flip" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="...">
            </div>
            <!-- <button type="button" class="btn btn-primary">Primary</button> -->
            <button type="submit" class="btn mybtn-primary">جستجو</button>
            </form>
          </li>
        </ul>
        <ul class="nav pull-left top-menu">
              <li><a class="logout" href="../users/sign_out">خروج</a></li>
        </ul>
        <!-- <ul class="nav pull-left top-menu">
              <li><a class="logout" href="../users/edit">مشخصات من</a></li>
        </ul> -->
      </div>
  </header>
<!--header end-->
      
<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <h5 class="centered">SELAB-group4</h5>  
          <li class="sub-menu">
            <a href="../quizzes/new" >
                <i class="fa fa-desktop"></i>
                <span>شروع کوییز جدید</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="../groups/" >
                <i class="fa fa-tasks"></i>
                <span>دسته‌بندی‌ها</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="../users/edit" >
                <i class="fa fa-cogs"></i>
                <span>مشخصات من</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="#" >
                <i class="fa fa-book"></i>
                <span>تماس با ما</span>
            </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
      
</nav>