<%- model_class = Group -%>
<section id="main-content">
	<section class="wrapper">
	    <div class="row">
			<div class="col-md-12">      
	        	<div class="content-panel">
					<%= render :partial => 'form' %>
				</div>
			</div>
		</div>
	</section>
</section>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>